@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dee2d5;
  --color-secondary: #174218;
  --color-tertiary: #b6bea7;
}
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*HomePage Intro*/

body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 1.6rem;
  background-color: var(--color-primary);
}
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary);
  margin: 0;
  font-weight: 700;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2.3rem;
}
p {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* 
 */

@media screen and (min-width: 1556px) {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 7.6rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 3.4rem;
  }
  p {
    font-size: 2rem;
  }
}

.main_section {
  padding: 1.6rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.left_section_inside {
  padding: 16px;
}

.intro_image {
  width: 80%;
  background-image: url("/intro.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 768px) {
  .main_section {
    padding: 50px;
  }
  .left_section_inside {
    padding-left: 5rem;
    padding-bottom: 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .main_section {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .left_section_inside {
    padding-left: 6rem;
  }
}
@media screen and (min-width: 1836px) {
  .main_section {
    padding-top: 22.2rem;
    padding-left: 8.8rem;
    padding-right: 8.8rem;
    padding-bottom: 28.2rem;
  }
  .left_section_inside {
    padding-left: 8.8rem;
  }
}

/*Buttons*/
.btn {
  gap: 1rem;
  border-radius: 4rem;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  font-size: 1.4rem;
  margin: 1rem 0;
  outline: 0;
  padding: 1rem 2.9rem;
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  transition: 0.1s ease-in;
  align-items: center;
  font-weight: 300;
}
.btn--primary {
  color: var(--color-primary);
}
.btn--primary:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.btn--secondary {
  background: var(--color-primary);
  color: white;
}
.btn--secondary:hover {
  background: black;
  color: white;
}
.btn--tertiary {
  background: var(--color-fifthtiary);
  color: var(--color-sixthtiary);
}
.btn--tertiary:hover {
  color: black;
}
