@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dee2d5;
  --color-secondary: #174218;
  --color-tertiary: #b6bea7;
  --color-fourthtiary: #b7bbaf;
  --color-fifthtiary: #c7cfb8;
}
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*HomePage Intro*/

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--color-primary);
}
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary);
  margin: 0;
  font-weight: 700;
  z-index: 10;
  line-height: 1;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2.3rem;
}
p {
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* 
 */

@media screen and (min-width: 1556px) {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 6.4rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1880px) {
  h1 {
    font-size: 12.4rem;
  }
}
.main_section {
  padding: 1.6rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.tight_section {
  padding: 1.6rem;
  background-color: var(--color-fourthtiary);
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  border-radius: 20px;
}
.left_section_inside,
.right_section_inside {
  padding: 16px;
}

.intro_image {
  width: 80%;
  background-image: url("/intro.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 768px) {
  .main_section {
    padding: 50px;
  }
  .tight_section {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
  .tight_section {
    padding: 3rem;
  }
  .left_section_inside {
    padding-left: 5rem;
  }
  .bottom_section_inside {
    padding-bottom: 5rem;
  }
  .right_section_inside {
    padding-right: 5rem;
  }
  .intro_image {
    min-height: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .main_section {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .tight_section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .bottom_section_inside {
    padding-bottom: 6rem;
  }
  .left_section_inside {
    padding-left: 6rem;
  }
  .right_section_inside {
    padding-left: 6rem;
  }
  /* .intro_image {
    min-height: 986px;
  } */
}
@media screen and (min-width: 1280px) {
  .intro_image {
    min-height: 100vh;
  }
}
@media screen and (min-width: 1800px) {
  .main_section {
    padding-top: 14.2rem;
    padding-left: 8.8rem;
    padding-right: 8.8rem;
    padding-bottom: 14.2rem;
  }
  .tight_section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .left_section_inside {
    padding-left: 8.8rem;
  }
  .right_section_inside {
    padding-right: 8.8rem;
  }
  .bottom_section_inside {
    padding-bottom: 8.8rem;
  }
}

/*Buttons*/
.btn {
  gap: 1rem;
  border-radius: 4rem;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  font-size: 1.4rem;
  margin: 1rem 0;
  outline: 0;
  padding: 1rem 2.9rem;
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  transition: 0.1s ease-in;
  align-items: center;
  font-weight: 300;
  z-index: 10;
}
.btn--primary {
  color: var(--color-primary);
}
.btn--primary:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.btn--secondary {
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 600;
}
.btn--secondary:hover {
  background: black;
  color: white;
}
.btn--tertiary {
  background: var(--color-fifthtiary);
  color: var(--color-sixthtiary);
}
.btn--tertiary:hover {
  color: black;
}
.btn--fourthtiary {
  background: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.btn--fourthtiary:hover {
  color: white;
}

/* Navbar*/

/*Navbar*/
.navbar {
  display: none;
  justify-content: space-between;
  width: 100%;

  position: absolute;
  z-index: 999;
  align-items: center;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 40;
  top: 0;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: var(--color-primary);
}

.hamburger {
  cursor: pointer;
  height: 2rem;
}
.navbar_second_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.navbar_second_group2_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.navbar_second_group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  gap: 5rem;
  flex-direction: row;
}

.navbar .heart {
  transition: 0.1s ease-in;
  width: 30px;
}
.navbar p {
  font-size: 1.6rem;
}
.delete_navbar {
  display: none !important;
}
.navbar_homepage {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  z-index: 12;
  position: relative;
}
.navbar_homepage2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  border-bottom: 1px solid var(--fourthiary-color);
  position: fixed;
  z-index: 5;
  top: 0;
}
.NavbarCancelButton {
  cursor: pointer;
  width: 6.2rem;
}
.hidden {
  display: none;
}

.navbar_set {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Expanded navbar*/
.expanded-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  justify-content: center;
}

.expanded-navbar a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.expanded-navbar h2 {
  font-weight: 300;
}

.expanded-navbar button {
  padding: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  font-size: 2rem;
  position: absolute;
}
.navbar_both {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  height: 100vh;
}
.navbar_both h2 {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.2;
  color: var(--fourthiary-color);
  font-size: 3rem;
}
.navbar_both p {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--fourthiary-color);
  font-size: 2.8rem;
  transition: 0.1s ease-in;
  position: relative;
}
.navbar_both p:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .navbar,
  .navbar2 {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar_set {
    padding-top: 0.5rem;
  }
  .navbar p {
    color: var(--fourthiary-color);
    font-size: 1.8rem;
  }
  .navbar_logo {
    width: 102px;
    height: 46px;
  }

  .w50 {
    width: 50%;
  }
  .navbar_both {
    gap: 8rem;
    height: 100%;
    margin-top: 15vh;
    justify-content: flex-start;
  }
  .navbar_second_group {
    flex-direction: row;
    gap: 5rem;
  }
  .navbar_second_group2 {
    width: 30rem;
  }
  .navbar_second_group2_intro {
    width: 30rem;
    flex-direction: row;
    gap: 5rem;
  }

  .navbar_both h2 {
    font-size: 4rem;
  }
  .navbar_both p {
    font-size: 6rem;
  }
  .navbar_homepage {
    padding-top: 25px;
  }
  .expanded-navbar h2 {
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .navbar_both {
    flex-direction: row;
    gap: 12rem;
    height: 100%;
    margin-top: 20vh;
  }
}
@media screen and (min-width: 1600px) {
  .navbar_both h2 {
    font-size: 5rem;
  }
  .navbar_both p {
    font-size: 10rem;
  }
  .navbar_both {
    gap: 20rem;
  }

  .languages {
    padding-right: 6rem;
  }
  .hamburger {
    height: max-content;
  }
  /* .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  } */
}
@media screen and (min-width: 1800px) {
  .navbar_second_group2 {
    width: 32rem;
  }
}
/*Benefits */
.benefit_image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.what_is_nutura_image1 {
  border-radius: 20px;
  position: absolute;
  left: 24px;
  top: 27px;

  height: 100px;
  width: 100px;
  rotate: -12deg;
}
.what_is_nutura_image2 {
  border-radius: 20px;
  position: absolute;
  right: 24px;
  bottom: 27px;

  height: 100px;
  width: 100px;
  rotate: 12deg;
}

@media screen and (min-width: 768px) {
  .what_is_nutura_image1 {
    border-radius: 20px;
    position: absolute;

    left: 80px;
    top: 80px;

    height: 150px;
    width: 150px;
    rotate: -12deg;
  }
  .what_is_nutura_image2 {
    border-radius: 20px;
    position: absolute;

    right: 80px;
    bottom: 80px;

    height: 150px;
    width: 150px;
    rotate: 12deg;
  }
}

/*Productpage */
.product_more_info {
  max-width: 80rem;
}
.product_more_info h2 {
  text-transform: uppercase;
}

/*Badge*/
.badge-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -4px;
  right: -9px;
  background-color: #c0d1c5;
  color: var(--primary-color);
  padding: 3px 6px;
  font-size: 9px;
  border-radius: 6px;
}
