@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dee2d5;
  --color-secondary: #174218;
  --color-tertiary: #b6bea7;
  --color-fourthtiary: #b7bbaf;
  --color-fifthtiary: #c7cfb8;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*HomePage Intro*/

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--color-primary);
}
b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary);
  margin: 0;
  font-weight: 700;
  z-index: 10;
  line-height: 130%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2.3rem;
}
p {
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  p,
  .href {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* 
 */

@media screen and (min-width: 1556px) {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 6.4rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  p,
  .href {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1800px) {
  h1 {
    font-size: 12.4rem;
  }
  h5 {
    font-size: 2.8rem;
  }
}
.main_section {
  /* padding: 1.6rem; */
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.tight_section {
  padding: 1.6rem;
  width: 100%;
  border-radius: 20px;
}
/* .footer {
  margin-bottom: 1.6rem;
} */
.left_section_inside,
.right_section_inside {
  padding: 16px;
}
.left_section_inside_margin,
.right_section_inside_margin {
  margin: 16px;
}

.intro_image {
  width: 80%;
  /* background-image: url("/intro.jpg"); */
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 768px) {
  .main_section {
    /* padding: 50px; */
  }
  .tight_section {
    /* padding: 3rem; */
    /* max-width: 1400px; */
  }
  .left_section_inside {
    padding-left: 5rem;
  }
  .left_section_inside_margin {
    margin-left: 5rem;
  }
  .right_section_inside_margin {
    margin-right: 5rem;
  }
  .bottom_section_inside {
    padding-bottom: 5rem;
  }
  .right_section_inside {
    padding-right: 5rem;
  }
  .intro_image {
    min-height: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .main_section {
    /* padding-left: 6rem;
    padding-right: 6rem; */

    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .tight_section {
    /* margin-left: 2rem;
    margin-right: 2rem; */
  }
  /* .footer {
    margin-bottom: 2rem;
  } */
  .bottom_section_inside {
    padding-bottom: 6rem;
  }
  .left_section_inside {
    padding-left: 6rem;
  }
  .right_section_inside {
    padding-left: 6rem;
  }
  .left_section_inside_margin {
    margin-left: 6rem;
  }
  .right_section_inside_margin {
    margin-right: 6rem;
  }

  /* .intro_image {
    min-height: 986px;
  } */
}
@media screen and (min-width: 1280px) {
  .tight_section {
    padding: 5rem;
  }
  .intro_image {
    min-height: 100vh;
  }
}

@media screen and (min-width: 1800px) {
  .main_section {
    padding-top: 14.2rem;
    padding-bottom: 14.2rem;
  }
  .tight_section {
    /* margin-left: 3rem;
    margin-right: 3rem; */
  }
  /* .footer {
    margin-bottom: 3rem;
  } */
  .left_section_inside {
    padding-left: 8.8rem;
  }
  .right_section_inside {
    padding-right: 8.8rem;
  }
  .left_section_inside_margin {
    margin-left: 8.8rem;
  }
  .right_section_inside_margin {
    margin-right: 8.8rem;
  }
  .bottom_section_inside {
    padding-bottom: 8.8rem;
  }
}

/*Buttons*/
.btn {
  gap: 1rem;
  border-radius: 4rem;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem 0;
  outline: 0;
  padding: 0.5rem 2rem;
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  transition: 0.1s ease-in;
  align-items: center;
  font-weight: 300;
  z-index: 10;
}
.btn--primary {
  color: var(--color-primary);
}
.btn--primary:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.btn--secondary {
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-weight: 600;
}
.btn--secondary:hover {
  background: #caccc6;
}
.btn--tertiary {
  background: var(--color-fifthtiary);
  color: var(--color-sixthtiary);
}
.btn--tertiary:hover {
  color: black;
}
.btn--fourthtiary {
  background: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}
.btn--fourthtiary:hover {
  color: white;
}

@media screen and (min-width: 1556px) {
  .btn {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1800px) {
  .btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}

/* Navbar*/

/*Navbar*/
.navbar {
  display: none;
  justify-content: space-between;
  width: 100%;

  position: absolute;
  z-index: 999;
  align-items: center;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: fixed; */
  /* top: 0; */
  align-items: center;
  /* border-bottom: 1px solid black; */
  background-color: var(--color-primary);
  z-index: 2000;
}
.navbar_on_picture {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  height: 2rem;
}
.navbar_second_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.navbar_second_group2_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.navbar_second_group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15rem; */
  gap: 5rem;
  flex-direction: row;
}

.navbar .heart {
  transition: 0.1s ease-in;
  width: 30px;
}
.navbar p {
  font-size: 1.6rem;
}
.delete_navbar {
  display: none !important;
}
.navbar_homepage {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  z-index: 12;
  position: relative;
}
.navbar_homepage2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  border-bottom: 1px solid var(--fourthiary-color);
  position: fixed;
  z-index: 5;
  top: 0;
}
.NavbarCancelButton {
  cursor: pointer;
  width: 6.2rem;
}
.hidden {
  display: none;
}

.navbar_set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Expanded navbar*/
.expanded-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  z-index: 10000;
  justify-content: center;
}

.expanded-navbar a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.expanded-navbar h2 {
  font-weight: 300;
}

.expanded-navbar button {
  padding: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  font-size: 2rem;
  position: absolute;
}
.navbar_both {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  height: 100vh;
}
.navbar_both h2 {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.2;
  color: var(--fourthiary-color);
  font-size: 3rem;
}
.navbar_both p {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--fourthiary-color);
  font-size: 2.8rem;
  transition: 0.1s ease-in;
  position: relative;
}
.navbar_both p:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .navbar,
  .navbar2 {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .image_for_pages {
    z-index: 5000;
    position: relative;
    height: 167px;

    background: url("/new_intro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar_set {
    padding-top: 0.5rem;
  }
  .navbar p {
    color: var(--fourthiary-color);
    font-size: 1.8rem;
  }
  .navbar_logo {
    width: 102px;
    height: 46px;
  }

  .w50 {
    width: 50%;
  }
  .navbar_both {
    gap: 8rem;
    height: 100%;
    margin-top: 15vh;
    justify-content: flex-start;
  }
  .navbar_second_group {
    flex-direction: row;
    gap: 5rem;
  }
  .navbar_second_group2 {
    /* width: 30rem; */
  }
  .navbar_second_group2_intro {
    width: 30rem;
    flex-direction: row;
    gap: 4rem;
  }

  .navbar_both h2 {
    font-size: 4rem;
  }
  .navbar_both p {
    font-size: 6rem;
  }
  .navbar_homepage {
    padding-top: 25px;
  }
  .expanded-navbar h2 {
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .navbar_both {
    flex-direction: row;
    gap: 12rem;
    height: 100%;
    margin-top: 20vh;
  }
  .image_for_pages {
    height: 200px;
  }
}
@media screen and (min-width: 1600px) {
  .navbar_both h2 {
    font-size: 5rem;
  }
  .navbar_both p {
    font-size: 10rem;
  }
  .navbar_both {
    gap: 20rem;
  }

  .languages {
    padding-right: 6rem;
  }
  .hamburger {
    height: max-content;
  }

  /* .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
  } */
}
@media screen and (min-width: 1800px) {
  .navbar_second_group2 {
    /* width: 32rem; */
  }
  .image_for_pages {
    height: 267px;
  }
}
/*Benefits */
.benefit_image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.what_is_nutura_image1,
.what_is_nutura_image2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .what_is_nutura_image1 {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 20px;
    height: 100px;
    width: 100px;
  }
  .what_is_nutura_image2 {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;

    height: 180px;
    width: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .what_is_nutura_image1 {
    height: 150px;
    width: 150px;
  }
  .what_is_nutura_image2 {
    height: 210px;
    width: 210px;
  }
  .benefit_image {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1556px) {
  .what_is_nutura_image1 {
    height: 250px;
    width: 250px;
  }
  .what_is_nutura_image2 {
    height: 310px;
    width: 310px;
  }
  .benefit_image {
    width: 100px;
    height: 100px;
  }
}

/*Productpage */
.product_more_info {
  max-width: 80rem;
}
.product_more_info h2 {
  text-transform: uppercase;
}

/*Badge*/
.badge-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -4px;
  right: -9px;
  background-color: #c0d1c5;
  color: var(--primary-color);
  padding: 3px 6px;
  font-size: 9px;
  border-radius: 6px;
}

/*Admin section */
.admin_section,
.admin_section_real,
.admin_section_products,
.admin_section_promo_codes {
  width: 100%;
}

.admin_section_real tr,
.admin_section_promo_codes tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.admin_section_products tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.admin_section table {
  width: 100%;
  border-collapse: collapse;
}

.admin_section th,
.admin_section td {
  padding: 8px;
}

.admin_section tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.admin_section tr:first-child {
  border-top: 1px solid var(--color-fifthtiary);
}
.admin_section tr:not(:last-child) {
  border-bottom: 1px solid var(--color-fifthtiary);
}
.admin_section_real tr,
.admin_section_products tr,
.admin_section_promo_codes tr {
  border-bottom: 1px solid var(--color-fifthtiary);
}

@media screen and (min-width: 768px) {
  .admin_section tr {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .admin_section_real tr {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.product_admin_row {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-bottom: 2rem; */
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.product_admin_col {
  display: flex;
  flex-direction: column;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .product_admin_row {
    flex-direction: row;
    align-items: center;
  }
}

.products_admin input[type="text"],
.products_admin input[type="number"],
.products_admin textarea {
  padding: 10px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  height: 4.5rem;
  font-size: 1.4rem;
  width: 75%;
  border-radius: 0px;
}

/*Shopsection */

.shop_section input[type="text"],
.shop_section input[type="number"] {
  padding-left: 10px;
  background-color: var(--color-primary);
  color: black;
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 3.5rem;
  font-size: 1.4rem;
  width: 100%;
  border-radius: 20px;
}

/*Footer */
.footer {
}
.footer h5,
.footer p {
  color: var(--color-primary);
}

.contact_us p {
  margin-top: 1rem;
}

.contact_us input[type="text"],
.contact_us input[type="number"] {
  padding-left: 24px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #174218;

  height: 3.5rem;
  font-size: 1.4rem;

  border-radius: 50px;
  width: 100%;
  transition: all 0.3s ease;
}

.contact_us input[type="text"]:focus,
.contact_us input[type="number"]:focus,
textarea:focus {
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.contact_us input[type="text"]::placeholder {
  text-align: center;
  padding-right: 24px;
  color: var(--color-secondary);
}
.contact_us input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-primary) inset !important;
  -webkit-text-fill-color: var(--color-secondary) !important;
}
textarea {
  padding: 24px;
  padding-left: 24px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  border: 1px solid var(--color-secondary);
  font-size: 1.8rem;
  width: 100%;
  resize: none;
  max-height: 170px;
}

textarea::placeholder {
  text-align: center;
  color: var(--color-secondary);
}
@media screen and (min-width: 768px) {
  .contact_us input[type="text"],
  .contact_us input[type="number"],
  textarea {
    width: 70%;
  }
}

@media screen and (min-width: 1800px) {
  .contact_us input[type="text"],
  .contact_us input[type="number"] {
    height: 5.6rem;
    font-size: 2rem;
  }
}

.contact_us input:focus,
.contact_us textarea:focus {
  border: 2px solid var(--color-secondary);
}

/*Checkout*/
.pokladna input[type="text"],
.pokladna input[type="email"] {
  padding: 10px;
  background-color: unset;
  color: var(--color-primary);
  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4rem;
  border: 1px solid var(--color-primary);
  height: 4.5rem;
  font-size: 1.4rem;
  width: 100%;
  padding-left: 1.5rem;
  color: var(--color-primary);
}
.pokladna input:focus {
  border: 2px solid var(--color-primary);
}
.pokladna input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-secondary) inset;
  -webkit-text-fill-color: var(--color-primary);
}

@media screen and (min-width: 1800px) {
  .pokladna input[type="text"],
  .pokladna input[type="email"] {
    font-size: 2rem;
    height: 5.5rem;
  }
}

.pokladna label {
  display: flex;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.circle_input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.disabledBtn {
  opacity: 0.7;
  cursor: not-allowed;
}

.checkbox_circle {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.text_inside_input {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-primary); /* Adjust color as needed */
  padding-bottom: 1rem;
}

.dots_with_line {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  position: relative;
}

.dot {
  cursor: pointer;
  width: 16.08px;
  height: 16.08px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--color-secondary);
  transition: background-color 0.6s ease;
  z-index: 10;
}

.dots_with_line:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  height: 1px;
  background-color: var(--color-secondary);
}

.active {
  background-color: var(--color-secondary) !important;
}

/* #background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
} */

.circle_icon {
  background-color: var(--color-tertiary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.7rem;
  height: 4.7rem;
}

.behind_card_background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  align-items: center;
  padding: 1rem;
  opacity: 0.6;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

.popup_message {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: var(--color-primary);
  border: 1px solid black;
  padding: 1.6rem;
  max-height: 240px;
  position: fixed;
  z-index: 500000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .popup_message {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .reason p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1556px) {
  .reason p {
    font-size: 20px;
  }
}

.section_space {
  margin-top: 5rem;
}

@media screen and (min-width: 1280px) {
  .section_space {
    margin-top: 7rem;
  }
}

@media screen and (min-width: 1536px) {
  .section_space {
    margin-top: 10rem;
  }
}

.own_edge {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 1.6rem;
  flex-direction: column;
}
.own_edge_skeleton {
  max-width: 1920px;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1.6rem;
  flex-direction: column;
}
.logo_padding {
  margin: 1.6rem;
}
.left_padding {
  margin: 1.6rem;
}

@media screen and (min-width: 768px) {
  .own_edge,
  .own_edge_skeleton {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .logo_padding {
    margin-left: 2.5rem;
  }
  .left_padding {
    margin-right: 2.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .own_edge,
  .own_edge_skeleton {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .logo_padding {
    margin-left: 8rem;
  }
  .left_padding {
    margin-right: 8rem;
  }
}

.additional_padding {
  padding-top: 8rem !important;
}
@media screen and (min-width: 768px) {
  .additional_padding {
    padding-top: 5rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .additional_padding {
    padding-top: 10rem !important;
  }
}

p:empty {
  display: block;
  min-height: 1em;
}
